<each loop="item in {{ list }}">
    <div class="comments">
    
        <p class="comments__para">
            {{ item.para }}
        </p>
        <div class="comments__div-star">
            <include src="./components/star.html" locals='{
                "list":["star","star","star","star","star"]
            }'>
                
            </include>
        </div>
        <div class="comments__titles">

            <p class="comments__person-name">{{ item.name }}</p>
            <p class="comments__source">{{ item.source }}</p>
        </div>
        </div>

</each>
