@use "../abstracts/" as *;

@font-face {
    font-family: PoppinsBold;
    src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
    font-family: InterRegular;
    src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: PoppinsRegular;
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: pxToRem(14);
    max-width: 1800px;
    margin: 0 auto;
    min-width: 320px;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: $text-color-secondary;
}

