<!-- Start header -->
<header class="header-container">
    <!-- Start header top-->
    <div class="header-top">
        <div class="header-top__logo">
            <figure class="header-top__logo-item">
                <img src="../assets/img/pic-symbol.png" alt="logo">
                <figcaption>SoLo<span>.</span></figcaption>
            </figure>
        </div>
        <nav class="nav-container">
            <ul>
                <include src="./components/navList.html" locals='{
                    "classList":"nav__item",
                    "classLink":"nav__item-link",
                    "list":["Download","Pricing","Features","About us","Contact"]
                }'>
                    
                </include>
            </ul>
        </nav>
        <div class="header-top__button">
            <button class="header-top__button-login">Login</button>
            <button class="header-top__button-signup">Sign up</button>
        </div>
        <div class="header-top__menu">
            <figure class="header-top__menu-item">
                <img src="../assets/icon/ic-logo-menu.svg" alt="menu">
            </figure>
        </div>
    </div>
    <!-- End of header top-->
    <!--Start header bottom-->
    <div class="header-bottom">
        <div class="header-bottom__box">
              <include src="./components/box.html" locals='{
                "list":[{"className":"header-bottom__box-item",
                "firstLine":"RISK-FREE 30 DAY TRIAL",
                "secondaryLine":"The best way to organize your work.",
                "secondaryLines":"The best way to organize your work.",
                "thirdLine":"Organize your tasks, lists and reminders in one app.",
                "buttonFirst":"Try it free",
                "buttonSecondaryLink":"ic-triangleplay",
                "buttonSecondary":"Watch how it works",
                "imageLink1":"pic-hero-Desktop",
                "imageDesc1":"hero",
                "imageLink2":"pic-hero-Tablet",
                "imageDesc2":"hero",
                "imageLink3":"pic-hero-Mobile",
                "imageDesc3":"hero"
        }]
               }'>
        </div>
        <p class="header-bottom__content">
            Thousands of teams worldwide are using Solo
        </p>
    </div>
</header>
<!-- End of header -->