<main class="main-container">
    <!--Start of section banner -->
    <section class="banner-list">
        <include src="./components/banner.html" locals='{ 
            "list":["rotashow","waves","rotashow","travelers","goldlines"]
        }'>
            
        </include>
    </section>
    <!--End of section banner-->
    <!--Start of section together-->
    <section class="together">
        <div class="together__box">
            <div class="together__box__color-top"></div>
            <div class="together__box__color-bottom"></div>
            <include src="./components/box.html" locals='{
                "list":[{
                "firstLine":"RISK-FREE 30 DAY TRIAL",
                "secondaryLine":"Keeping it all together",
                "secondaryLines":"Keeping it all together",
                "thirdLine":"Just invite your team, Solo does all the heavy-lifting.",
                "buttonFirst":"Try it free",
                "buttonSecondaryLink":"ic-triangleplay",
                "buttonSecondary":"Schedule a demo",
                "imageLink1":"pic-keepallintgt-Mobile",
                "imageDesc1":"together",
                "imageLink2":"pic-keepalintgt-Tablet",
                "imageDesc2":"together",
                "imageLink3":"pic-keepallintgt-Desktop",
                "imageDesc3":"together"
        }]
               }'>
            
          </include>
        </div>
        <div class="together__content">
            <include src="./components/text.html" locals='{
                "list":[{"textfirst":"100","textfirstchild":"+","textfirstchildtwo":"+","textsecond":"Countries supported"},
                {"textfirst":"28","textfirstchild":"m","textfirstchildtwo":"m","textsecond":"Downloads on App Store"},
                {"textfirst":"16","textfirstchild":"m","textfirstchildtwo":"m","textsecond":"Verified Users"}]
            }'>
                
            </include>
        </div>
    </section>
    <!--End of section together-->
    <!-- Start of section HW-->
    <section class="HW">
        <p class="HW__first-title">INSTANT SETUP</p>
        <p class="HW__second-title">Fast, simple & effortless.</p>
        <div class="HW__icon">
            <include src="./components/step.html" locals='{
                "list":[{"iconlink":"devices","iconbuttonstep":"Step 1","iconcontentstep":"Download the app"},
                {"iconlink":"cloud","iconbuttonstep":"Step 2","iconcontentstep":"Invite teammates"},
                {"iconlink":"word-connection","iconbuttonstep":"Step 3","iconcontentstep":"Create Workspace"},
                {"iconlink":"bussiness-product","iconbuttonstep":"Step 4","iconcontentstep":"Track performance"}]
            }'>
                
            </include>
        </div>
        <div class="HW__image">
            <picture class="HW__image-big">
                <source  media="(min-width:429px)" srcset="../assets/img/pic-package-Tablet.png">
                <source media="(min-width:1200px)" srcset="../assets/img/pic-package-Desktop.png">
                <img src="../assets/img/pic-package-Mobile.png" alt="Picture package">
            </picture>
            <figure class="HW__image-small">
                <img src="../assets/icon/ic-circle-gradient.svg" alt="">
            </figure>
        </div>
    </section>
</main>
