@use "../../abstracts/" as *;

.development{
    position: relative;
    width: 100%;
    padding-top: 20%;
    @include desktop{
        padding-top: 10%;
    }
    @include tablet{
        padding-top: 10%;
    }
    &__div{
        position: absolute;
        width: 100%;
        height: 30%;
        content: "";
        z-index: -1;
        @include color($background:$text-color-primary);
        border-radius: 20px;
        bottom: -1%;
    }
    &__pack{
         width: 110%;
         padding: 5% 10%;
         transform: translateX(-5%);
         border-radius: 20px;
         position: relative;
         z-index: 0;
         @include color($background:$background-box-extra);
         @include tablet{
            @include flex($justify:space-between,$align:center);
            padding: 10% 5% 0 5%;
         }
         @include desktop{
            @include flex($direction:row,$justify:space-between,$align:center);
            padding: 10% 5% 0 5%;
         }
         &__linear{
            position: absolute;
            left: -10%;
            top: 0%;
            width: 200px;
            height: 200px;
            border-radius: 120px;
            background: linear-gradient(135deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
            mix-blend-mode: overlay;
            filter: blur(80px);
            @include desktop{
                left: -10%;
            }
            @include tablet{
                top: 0%;
                left: 0%;
            }
         }
        &__box{
            position: relative;
            @include flex($direction:column,$align:center,$justify:center);
            @include tablet{
                width: 80%;
            }
            @include desktop{
                width: 80%;
            }
            .box-item{
                @include tablet{
                    @include flex($direction:column-reverse,$align:flex-start);
                    gap: 50px;
                }
                @include desktop{
                    @include flex($direction:column-reverse,$align:flex-start);
                    gap: 100px;
                   
                }
                .content{
                   
                    @include flex($direction:column,$align:flex-start);
                    &__area{
                        @include flex($direction:column,$align:flex-start,$justify:flex-start);
                    text-align: left;
                        .content__secondary__line-h1{
                            display: none;
                        } 
                        @include tablet{
                            .content__secondary__line-h3{
                                width: 70%;
                            }
                            margin-bottom: 5%;
                            .content__third__line{
                                width: 80%;
                            }
                        }
                    }
                    @include tablet{
                      width: 100%;
                      transform: translateY(-30%);
                    }
                    @include desktop{
                        width: 100%;
                        transform: translateY(-70%);
                      }
                    &__button{
                        @include flex($align:flex-start);
                        .btn{
                            display: none;
                        }
                        .btn__no__color{
                            figure{
                                display: none;
                            }
                        }
                    }
                }
                .image{
                    width: 100%;
                    transform: translateY(10%);
                    img{
                        width: 100%;
                    }
                    @include tablet{
                        width: 60%;
                        transform: translateY(-35%);
                    }
                    @include desktop{
                        width: 60%;
                        transform: translateY(-40%);
                    }
                }
            }
        }
        &__content{
            padding-top: 30%;
            @include flex($direction:column,$gap:80px);
            @include tablet{
                padding:5% 0;
                width: 50%;
            }
            @include desktop{
                padding:5% 0;
                width: 50%;
            }
            .para:nth-child(1)::after,.para:nth-child(2)::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                @include color($background:$text-color-extra);
                opacity: 0.1;
                bottom: -30%;
            }
        }
      
    }
}