@use "../../abstracts/"as *;

.history{
    width: 100%;
    margin-top:  20%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    overflow-y: hidden;
    @include flex($align:center,$justify:center);
    @include desktop{
        margin-top: 5%;
    }
    @include tablet{
        margin-top: 10%;
    }
    &__background{
        position: relative;
        z-index: 0;
        padding: 8%;
        width: 100%;
        overflow: hidden;
        @include color($background:$background-box);
        border-radius: 30px;
        @include desktop{
            padding: 5%;
        }
        @include tablet{
            padding: 5%;
        }
        .box-item{
            z-index: 10;
            max-height: max-content;
            .content{
                width: 100%;
                @include flex($align:flex-start,$justify:center);
              .content__area{
                @include flex($align:flex-start,$justify:center);
                .content__secondary__line-h1{
                    display: none;
                }
              }
              .content__button{
                @include flex($align:flex-start);
                .btn{
                    display: none;
                }
                .btn__no__color{
                    figure{
                        display: none;
                    }
                }
              }
            }
            @include flex($direction:column-reverse);
            text-align: left;
            @include tablet{
                @include flex($direction:row);
            }
            @include desktop{
                @include flex($direction:row,$align:center);
            }
            .image{
                margin-bottom: 25%;
                transform: translate(0);
                @include tablet{
                    margin-bottom: 0;
                    transform: translateX(15%);

                }
                @include desktop{
                    margin-bottom: 0;
                    transform: translateX(13%);
                }
            }
        }
        &__linear{
            position: absolute;
            left: -10%;
            top: 0%;
            z-index: 10;
            width: 200px;
            height: 200px;
            border-radius: 120px;
            background: linear-gradient(135deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
            mix-blend-mode: overlay;
            filter: blur(80px);
            @include desktop{
                left: -10%;
            }
            @include tablet{
                top: 0%;
                left: 0%;
            }
        }
    }
    &::after{
        width: 95%;
        height:70%;
        border-radius: 30px;
        position: absolute;
        z-index: -10;
        top: 32%;
        content: "";
        @include color($background:$text-color-primary);
    }
}
