@use "../../abstracts/"as *;


.power{
    width: 100%;
    padding-top: 20%;
    @include flex($direction:column,$justify:center,$align:center);
    text-align: center;
    gap: 30px;
    @include desktop{
        @include flex($direction:row,$justify:space-between);
        padding-top: 8%;
        
    }
    @include tablet{
        padding-top: 8%;
    }
    &__content{
        @include flex($direction:column,$justify:center,$align:center);
    text-align: center;
    gap: 30px;

    @include desktop{
        text-align: left;
        @include flex($align:flex-start);
        width: 30%;
    }
        &__firstline{
            @include font($font-family:$secondary-font,$font-size:pxToRem(12),$font-weight:800,$line-height:16px);
            letter-spacing: 1.2px;
            @include color($color:$text-color-extra);
            
        }
        &__secondline{
            @include font($font-family:$third-font,$font-size:pxToRem(32),$font-weight:600,$line-height:40px);
            @include color($color:$text-color-secondary);
            @include tablet{
                @include font($font-size:pxToRem(40));
            }
            @include desktop{
            width: 50%;
            @include font($font-size:pxToRem(48),$line-height:60px);
        }
        }
        &__paragraph{
            @include font($font-family:$secondary-font,$font-size:pxToRem(16),$font-weight:500,$line-height:24px);
            @include color($color:$text-color-primary);
            @include tablet{
                width: 60%;
            }
        }
    }
    &__image{
        width: 100%;
        @include flex($justify:center,$align:center);
        gap: 30px;
        @include desktop{
            width: 40%;
        }
        div{
            @include flex($direction:column);
            gap: 30px;
        }
    }
}